Repository Meiryo7743/zenn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, textlint --fix

Update workflow dependencies
  .github/workflows/textlint.yml
  .github/workflows/update-main.yml
Due: none

Move renovate.json to the root
  renovate.json
Due: prettier --write

Update peter-evans/create-pull-request commit hash to 67df31e
  .github/workflows/textlint.yml
Due: none

Update .gitignore
  .gitignore
Due: none

Delete README.md
  README.md
Due: prettier --write, textlint --fix

Update textlint.yml
  .github/workflows/textlint.yml
Due: none

Update dependency lint-staged to v12
  package-lock.json
  package.json
Due: prettier --write

Lock file maintenance
  package-lock.json
Due: prettier --write

Update dependency lint-staged to v12.1.2
  package-lock.json
  package.json
Due: prettier --write

Update dependency zenn-cli to v0.1.99
  package-lock.json
  package.json
Due: prettier --write

Update dependency prettier to v2.5.0
  package-lock.json
  package.json
Due: prettier --write

Add CODEOWNERS
  .github/CODEOWNERS
Due: none

Modify an article
  articles/delete-files-with-sdelete-from-a-context-menu.md
Due: prettier --write, textlint --fix

Update actions/setup-node action to v2.5.0
  .github/workflows/textlint.yml
Due: none

Update dependency textlint to v12.1.0
  package-lock.json
  package.json
Due: prettier --write

Update dependency prettier to v2.5.1
  package-lock.json
  package.json
Due: prettier --write

Update peter-evans/create-pull-request action to v3.12.0
  .github/workflows/textlint.yml
Due: none

Update dependency zenn-cli to v0.1.100
  package-lock.json
  package.json
Due: prettier --write

Update dependency lint-staged to v12.1.3
  package-lock.json
  package.json
Due: prettier --write

Update dependency lint-staged to v12.1.4
  package-lock.json
  package.json
Due: prettier --write

Update actions/setup-node action to v2.5.1
  .github/workflows/textlint.yml
Due: none

Update dependency lint-staged to v12.1.5
  package-lock.json
  package.json
Due: prettier --write

Update dependency lint-staged to v12.1.7
  package-lock.json
  package.json
Due: prettier --write

Update CI
  .github/workflows/textlint.yml
  .github/workflows/update-main.yml
  .node-version
Due: none

Rename
  .github/workflows/update_main.yml
Due: none

Fix CI
  .github/workflows/textlint.yml
Due: none

Update dependency zenn-cli to v0.1.101
  package-lock.json
  package.json
Due: prettier --write

Update Node.js to v16.13.2
  .node-version
Due: none

Update dependency zenn-cli to v0.1.103
  package-lock.json
  package.json
Due: prettier --write

Update dependency lint-staged to v12.2.0
  package-lock.json
  package.json
Due: prettier --write

Update dependency lint-staged to v12.2.2
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.json) or (any of: *.md)
  textlint --fix: any of: *.md
