Repository Meiryo7743/zenn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, textlint --fix

Update peter-evans/create-pull-request action to v4.0.4
  .github/workflows/textlint.yml
Due: none

Update dependency lint-staged to v12.5.0
  package-lock.json
  package.json
Due: prettier --write

Lock file maintenance
  package-lock.json
Due: prettier --write

Update dependency lint-staged to v13
  package-lock.json
  package.json
Due: prettier --write

Remove textlint
  .textlintrc.json
  package-lock.json
  package.json
Due: prettier --write

Fix package-lock.json
  package-lock.json
Due: prettier --write

Update
  .github/CODEOWNERS
  .github/workflows/publish.yml
  .github/workflows/textlint.yml
Due: none

Add the file
  articles/set-up-c-lang-env-in-vs-code-and-wsl2.md
Due: prettier --write, textlint --fix

Modify emoji
  articles/set-up-c-lang-env-in-vs-code-and-wsl2.md
Due: prettier --write, textlint --fix

WIP
  articles/set-up-c-lang-env-in-vs-code-and-wsl2.md
Due: prettier --write, textlint --fix

Done
  articles/set-up-c-lang-env-in-vs-code-and-wsl2.md
Due: prettier --write, textlint --fix

Fix
  articles/set-up-c-lang-env-in-vs-code-and-wsl2.md
Due: prettier --write, textlint --fix

Change title
  articles/set-up-c-lang-env-in-vs-code-and-wsl2.md
Due: prettier --write, textlint --fix

Publish an article
  articles/set-up-c-lang-env-in-vs-code-and-wsl2.md
Due: prettier --write, textlint --fix

VS Code & WSL 2 で C 言語の開発環境を構築する (#225)
  articles/set-up-c-lang-env-in-vs-code-and-wsl2.md
Due: prettier --write, textlint --fix

Path conditions:
  prettier --write: (any of: *.json) or (any of: *.md)
  textlint --fix: any of: *.md
