Repository Meiryo7743/zenn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, textlint --fix

Remove a script
  package.json
Due: prettier --write

Update package-lock.json
  package-lock.json
Due: prettier --write

Add a first article
  articles/create-a-web-counter-with-google-apps-script.md
Due: prettier --write, textlint --fix

Fix typo
  articles/create-a-web-counter-with-google-apps-script.md
Due: prettier --write, textlint --fix

Add a footnote
  articles/create-a-web-counter-with-google-apps-script.md
Due: prettier --write, textlint --fix

Modify a workflow
  .github/workflows/textlint.yml
Due: none

Modify a heading
  articles/create-a-web-counter-with-google-apps-script.md
Due: prettier --write, textlint --fix

Make public
  articles/create-a-web-counter-with-google-apps-script.md
Due: prettier --write, textlint --fix

Fix an image
  articles/create-a-web-counter-with-google-apps-script.md
Due: prettier --write, textlint --fix

Update an article
  articles/create-a-web-counter-with-google-apps-script.md
Due: prettier --write, textlint --fix

Add a filter for textlint
  .textlintrc.json
  package-lock.json
  package.json
Due: prettier --write

Add an article
  articles/how-to-make-footnote-ui-more-useful.md
Due: prettier --write, textlint --fix

Add contents
  articles/how-to-make-footnote-ui-more-useful.md
Due: prettier --write, textlint --fix

Modify a slug
  articles/show-footnotes-in-a-modal-created-with-css-only.md
Due: prettier --write, textlint --fix

Fix title
  articles/show-footnotes-in-a-modal-created-with-css-only.md
Due: prettier --write, textlint --fix

Fix
  articles/show-footnotes-in-a-modal-created-with-css-only.md
Due: prettier --write, textlint --fix

Modify topics
  articles/show-footnotes-in-a-modal-created-with-css-only.md
Due: prettier --write, textlint --fix

Make public
  articles/show-footnotes-in-a-modal-created-with-css-only.md
Due: prettier --write, textlint --fix

Add renovate.json
  renovate.json
Due: prettier --write

Pin dependencies
  package-lock.json
  package.json
Due: prettier --write

Update dependency husky to v5.1.2
  package-lock.json
  package.json
Due: prettier --write

Update dependency zenn-cli to v0.1.74
  package-lock.json
  package.json
Due: prettier --write

Modify a script
  package.json
Due: prettier --write

Modify renovate.json
  renovate.json
Due: prettier --write

Change location
  .github/renovate.json
Due: prettier --write

Update renovate.json
  .github/renovate.json
Due: prettier --write

Update dependency husky to v5.1.3
  package-lock.json
  package.json
Due: prettier --write

Update dependency zenn-cli to v0.1.75
  package-lock.json
  package.json
Due: prettier --write

Lock file maintenance
  package-lock.json
Due: prettier --write

Add .gitignore in .husky
  .husky/.gitignore
Due: none

Add an article
  articles/delete-files-with-sdelete-from-a-context-menu.md
Due: prettier --write, textlint --fix

Publish an article
  articles/delete-files-with-sdelete-from-a-context-menu.md
Due: prettier --write, textlint --fix

Fix a typo in the code
  articles/delete-files-with-sdelete-from-a-context-menu.md
Due: prettier --write, textlint --fix

Update dependency zenn-cli to v0.1.77
  package-lock.json
  package.json
Due: prettier --write

Add an article
  articles/hugo-3-ways-to-control-showing-toc.md
Due: prettier --write, textlint --fix

Make an article public
  articles/hugo-3-ways-to-control-showing-toc.md
Due: prettier --write, textlint --fix

Update dependency textlint to v11.8.3
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.json) or (any of: *.md)
  textlint --fix: any of: *.md
